# these libs are requested to build application env
jupyter
voila
tomli

# the base lib to run any pysepal based app
# don't forget to fix it to a specific version when you're app is ready
pysepal

# custom libs