earthengine-api>=0.1.238
geemap==0.8.9
haversine>=2.3.0
ipyvuetify>=1.6.2
markdown>=3.3.2
xarray_leaflet==0.1.13
shapely>=1.7.1
geopandas>=0.8.1
pandas>=1.1.3
coverage>=5.3
six>=1.15.0
googledrivedownloader
deepdiff
colorama>=0.4.3
Deprecated>=1.2.11
cryptography>=2.1.4
pydata-sphinx-theme>=0.4.3
sphinx-notfound-page>=0.6
Sphinx>=3.5.1
sphinxcontrib-spelling
Unidecode
jupyter-sphinx
pandoc
ipykernel
sphinx-copybutton
sepal_ui
natsort
pipreqs
black
pre-commit
pytest