[supervisord]
user=root
nodaemon=true
loglevel=info

[unix_http_server]
file=/tmp/supervisor.sock
chmod=0777

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:solara]
command=bash -c "micromamba run -n {{conda_env_name}} solara run solara_app.py --host=0.0.0.0 --root-path={{root_path}} --production --port={{container_port}}"
autostart=true
autorestart=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
