.leaflet-pane {z-index : 2 !important;}
.leaflet-top, .leaflet-bottom {z-index : 2 !important;}
.leaflet-widgetcontrol {box-shadow: none;}
main.v-content {padding-top: 0px !important;}
.leaflet-control-container .vuetify-styles .v-application {background: rgb(0,0,0,0);}
.v-alert__wrapper .progress {background-color: transparent;}
header.v-app-bar {z-index: 800 !important}
nav.v-navigation-drawer {z-index: 900 !important}