name: Build

on: 
  - push
  - workflow_dispatch
  
env:
  EE_DECRYPT_KEY: ${{ secrets.EE_DECRYPT_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install .[test]
      - name: Test formatting
        uses: psf/black@stable
        with:
            version: "22.3.0"
      - name: PEP8 rules
        uses: tonybajan/flake8-check-action@v1.0.0
        with:
            repotoken: ${{ secrets.GITHUB_TOKEN }}
      - name: test with pytest
        run: coverage run -m pytest --color=yes tests
      - name: coverage
        run: coverage xml
      - name: codecov
        uses: codecov/codecov-action@v2
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            verbose: true
